<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App</title>
  </head>

  <body>
    <header>
      <h1>Plan Your Trip</h1>
    </header>

    <main>
      <form id="userInput">
        <label for="location">Where are you heading?</label>
        <div class="location">
          <input
            id="location"
            placeholder="destination"
            required
            size="30"
          >
        </div>
        <div class="arrivalDates">
          <label for="arrival">When will you arrive?</label>
          <input
            id="arrival"
            input type="date"
            placeholder="arrival date"
            required
          >
        </div>
        <div class="departureDates">
          <label for="departure">When will you depart?</label>
          <input
            id="departure"
            input type="date"
            placeholder="departure date"
            required
          >
        </div>
        <div class="button">
          <button id="enterData" type="submit">Submit</button>
       </div>
      </form>
      <div id="arr"></div>
      <div id="dep"></div>
      <div id="city"></div>
      <div id="country"></div>
      <div id="lat"></div>
      <div id="long"></div>
      <div id="temp"></div>
      <div id="high"></div>
      <div id="desc"></div>
      <div id="image"></div>
      <div id="length"></div>
      <button id="saveTrip">Save</button>
      <button id="list">See all trips</button>

      <div class="upcoming">
        <h2>Your upcoming trips</h2>
        <div id="newTrip"></div>
      </div>

      <div class="expired">
        <h2>Your past trips</h2>
        <div id="oldTrip"></div>
      </div>
    </main>

    <footer></footer>

  </body>

</html>
